<div class="spaced-chars-wrapper">
	<ng-container *ngIf="chars">
		<ng-container *ngFor="let char of chars.split(''); let i = index">
				<!-- "" -->
				<ng-container *ngIf="char !== '\\'">
					<span [class]="i !== chars.length - 1 && (!i || chars[i - 1] !== '\\' || char === 's') ? 'extra-spacing' : ''">
						<span *ngIf="i > 0 && chars[i - 1] === '\\' && char === 's'">
							{{ ' ' }}
						</span>
						<span *ngIf="!i || chars[i - 1] !== '\\'">
							{{ char }}
						</span>
					</span>
				</ng-container>
			</ng-container>
	</ng-container>
</div>
<!-- This comment is required to remove the white space between inline-block divs -->
