<div class="mobile-text">
	<ng-container *ngIf="chars">
		<ng-container *ngFor="let char of chars.split(''); let i = index">
			<ng-container *ngIf="char !== '\\'">
				<span *ngIf="!i || chars[i - 1] !=='\\'">{{ char }}</span>
	
				<ng-container *ngIf="i && chars[i - 1] ==='\\'">
					<span *ngIf="char === 's' || char === 'n'" class="new-line"></span>
					<span *ngIf="char !== 's' && char !== 'n'">{{ char }}</span>
				</ng-container>
			</ng-container>
		</ng-container>
	</ng-container>
</div>
