<div [class]="'image-container' + (_image && _image.width > _image.height ? ' alt' : '')">
    <moo-preloader *ngIf="loading" [mode]="mode" [delay]="loading && 300" [relative]="true"></moo-preloader>
    
    <ng-container *ngIf="errored">
        <span [style.color]="'white'">X</span>
    </ng-container>

    <ng-container *ngIf="!errored">
        <div *ngIf="!loading" class="image">
            <ng-container *ngIf="calcSize">
                <ng-container *ngIf="thumbnail">
                    <img #image [src]="thref" [style.width]="getMaxHeight().width || defaultWidth || 'auto'" [style.height]="getMaxHeight().height || defaultHeight || 'auto'">
                </ng-container>
                
                <ng-container *ngIf="!thumbnail">
                    <img #image [src]="dhref" [style.width]="getMaxHeight().width || defaultWidth || 'auto'"
                        [style.height]="getMaxHeight().height || defaultHeight || 'auto'">
                </ng-container>
            </ng-container>

            <img *ngIf="!calcSize" #image [src]="mhref">
        </div>
    </ng-container>
</div>
