.image-container {
    width: auto;
    min-height: 1px;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;

    .image {
        width: auto;
        min-height: 1px;
        height: 100%;

        img {
            width: auto;
            min-height: 1px;
            height: 100%;
        }
    }
}

.image-container.alt {
    width: 100%;
    min-width: 1px;
    height: auto;

    .image {
        width: 100%;
        min-width: 1px;
        height: auto;

        img {
            width: 100%;
            min-width: 1px;
            height: auto;
        }
    }
}

.object-fit-contain {
    object-fit: contain;
}
