.image-container {
    width: auto;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;

    .image {
        width: auto;
        height: 100%;

        img {
            width: auto;
            height: 100%;
        }
    }
}

.image-container.alt {
    width: 100%;
    height: auto;

    .image {
        width: 100%;
        height: auto;

        img {
            width: 100%;
            height: auto;
        }
    }
}

// .mobile {
//     display: none;
// }

// @media only screen and (max-width: 600px) {
//     .mobile {
//         display: block;
//     }
//     .desktop {
//         display: none;
//     }
// }
