<div [class]="'image-container' + (image && image.width > image.height ? ' alt' : '')">
    <moo-preloader *ngIf="loading" [mode]="mode" [delay]="loading && 300" [relative]="true"></moo-preloader>
    
    <ng-container *ngIf="errored">
        <span [style.color]="'white'">X</span>
    </ng-container>

    <ng-container *ngIf="!errored">
        <div *ngIf="!loading" class="image">
            <img *ngIf="calcSize" #image [src]="dhref" [style.width]="getMaxHeight().width || defaultWidth || 'auto'" [style.height]="getMaxHeight().height || defaultHeight || 'auto'">
            <img *ngIf="!calcSize" #image [src]="mhref">
        </div>
    </ng-container>
</div>
