<div class="test-page"><div class="test-page-container">

<div class="container">
    <div class="row">
        <div class="col s12">
            <p>Image test page</p>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <moo-input [mode]="mode" [text]="href" [label]="'Image test'" [textIsInvalidFuncs]="[isInvalidUrl]" (valueChanged)="href = $event"></moo-input>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <moo-image *ngIf="href" [href]="href"></moo-image>
            <p *ngIf="!href">No href</p>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div [style.height]="'400px'" [style.width]="'400px'">
            <!-- <div [style.height]="'225px'" [style.width]="'400px'"> -->
                <moo-image *ngIf="href" [href]="href"></moo-image>
            </div>
            <p *ngIf="!href">No href</p>
        </div>
    </div>
</div>

</div></div>
