<div (click)="toggleMode()" class="center-image">
  <img [class]="'dark-image' + ' ' + mode" [src]="'./assets/dark_logo.jpeg'" width=26 height=26>
  <img [class]="'light-image' + ' ' + mode" [src]="'./assets/light_logo.jpeg'" width=26 height=26>
</div>

<div id="container" [class]="mode">
  <div class="center-vert title-container">

    <div class="center-vert title title-1">
      <p class="justified">
        S A M A N T A M I N K <span class="image-placeholder"></span>
      </p>
    </div>

    <div class="center-vert title title-2">
      <p class="justified">
        <span class="image-placeholder"></span> B O D Y O F W O R K
       </p>
    </div>

    <!-- <div style="position:absolute; bottom: 0; width: 100%"> -->

      <div #linksContainer [class]="'links-container' + (showOthers ? ' active' : '')">
        <!-- <div class="top-urls-container"> -->
          <!-- <p class="justified links-text">
            <ng-container *ngFor="let url of urls; let i = index"> -->
              <!-- "" -->
              <!-- <a *ngIf="url.y === 1" [href]="url.href" target='_blank'>{{ url.text }}</a>
            </ng-container>
          </p> -->

          <!-- <div [style.visibility]="placementTester.viewLoaded ? '' : 'hidden'"> -->
          <div [style.display]="'flex'" [style.justify-content]="'space-between'">
            <ng-container *ngFor="let url of urls; let i = index">
              <!-- "" -->
              <moo-spaced *ngIf="url.y === 1" [chars]="url.text"></moo-spaced>
            </ng-container>
          </div>

          <div>
            <ng-container *ngFor="let url of urls; let i = index">
              <!-- "" -->
              <moo-spaced *ngIf="url.y === 1" [chars]="url.text" [style.margin-right]=" i < getUrlColCount(1) ? (linksContainer.getBoundingClientRect().width - topUrlsSpan.getBoundingClientRect().width) / ((getUrlColCount(1) - 1) || 1) + 'px' : ''"></moo-spaced>
              <!-- <moo-spaced *ngIf="url.y === 1" [chars]="url.text" [style.margin-right]=" i < 6 ? '36.95208740234375px' : ''"></moo-spaced> -->
            </ng-container>
          </div>

          

          <!-- <div class="top-urls-justified">
            <a *ngFor="let url of topUrls; let i = index" [href]="url.href" target='_blank'>
              <moo-spaced [chars]="url.text"></moo-spaced>
              <span>{{ i !== topUrls.length - 1 ? '&nbsp;' : '' }}</span>
            </a>
          </div> -->
        <!-- </div> -->

        <!-- <p class="center links-text" [style.wordSpacing]="(linksContainer.getBoundingClientRect().width - topUrlsSpan.getBoundingClientRect().width) / (topUrls.length) + 'px'">
          <a *ngFor="let url of urls; let i = index" [href]="url.href" target='_blank'>{{ url.text }}{{ i !== urls.length - 1 ? ' ' : '' }}</a>
        </p> -->

        <!-- <span class="links-text" #topUrlsSpan [style.visibility]="'hidden'"> -->
        <div #topUrlsSpan [style.display]="'inline-block'" [style.background]="'plum'">
          <ng-container *ngFor="let url of urls">
            <moo-spaced *ngIf="url.y === 1" [chars]="url.text"></moo-spaced>
          </ng-container>
        </div>

        <div *ngFor="let x of urls; let i = index" [style.background]="'blue'">
          <ng-container *ngFor="let url of urls; let j = index">
            <!-- "" -->
            <moo-spaced *ngIf="url.y === (i + 1)" [chars]="url.text" [style.margin-right]=" i < getUrlColCount(i) ? (linksContainer.getBoundingClientRect().width - topUrlsSpan.getBoundingClientRect().width) / ((getUrlColCount(1) - 1) || 1) + 'px' : ''"></moo-spaced>
          </ng-container>
        </div>

        <div>
          <moo-text-placement-test #placementTester [urls]="urls" [containerWidth]="linksContainer.getBoundingClientRect().width" [marginRight]="(linksContainer.getBoundingClientRect().width - topUrlsSpan.getBoundingClientRect().width) / ((getUrlColCount(1) - 1) || 1)"></moo-text-placement-test>
          <!-- <moo-text-placement-test [urls]="urls" [containerWidth]="linksContainer.getBoundingClientRect().width"></moo-text-placement-test> -->
        </div>

        <!-- <div *ngFor="let y of urls">
          <ng-container *ngFor="let str of urls; let i = index">
            <moo-spaced [chars]="str.text || str"></moo-spaced>
          </ng-container>
        </div> -->
        <br>
        <span class="links-text" [style.visibility]="'hidden'">
          <ng-container *ngFor="let url of bottomUrls">
            {{ url.text }}
          </ng-container>
        </span><br>
        <span style="font-size: 30px">{{linksContainer.getBoundingClientRect().width}}-{{ topUrlsSpan.getBoundingClientRect().width }}-{{ (linksContainer.getBoundingClientRect().width - topUrlsSpan.getBoundingClientRect().width) / ((getUrlColCount(1) - 1) || 1) }}</span>
      </div>

    <!-- </div> -->

  </div>

  <div [class]="'footer-container' + (showOthers ? ' active' : '')">
    <div class="footer">
      <div class="footer-element-container">
        <div class="footer-element">
          <p class="justified"><a href="mailto:contact@samanthamink.com">c o n t a c t @ s a m a n t h a m i n k . c o m</a></p>
        </div>
      </div>
      <div class="footer-element-container">
        <div class="footer-element">
          <p class="justified"><a href="https://www.instagram.com/_samanthamink_/" target='_blank'>@ _ s a m a n t h a m i n k _</a></p>
        </div>
      </div>
      <div class="footer-element-container">
        <div class="footer-element">
          <p class="justified"><a href="tel:+13109682148">+ 1 3 1 0 9 6 8 2 1 4 8</a></p>
        </div>
      </div>
      <div class="footer-element-container">
        <div class="footer-element">
          <p class="justified"><a href="https://goo.gl/maps/EDdHuFLuv882" target='_blank'>c u l v e r c i t y , c a</a></p>
        </div>
      </div>
    </div>
  </div>

</div>
