a:hover {
	color: black;
	transition: color 1.5s;
}

.center-image {
	position: absolute;
	/*opacity: .5;*/
	z-index: 1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.light-image, .light-image:hover {
	opacity: 0;
	transition: opacity .5s;
	cursor: pointer;
}

.light-image.light {
	opacity: 1;
}
.light-image.light:hover {
	opacity: .66;
}

.dark-image {
	position: absolute;
	top: 0;
	opacity: 0;
	width: 0;
	height: 0;
	cursor: pointer;
}

.dark-image.dark {
	opacity: 1;
	width: 26px;
	height: 26px;
	transition: opacity 1s;
}

.center-vert {
	position: absolute;
	top: 50%;
	transform: perspective(1px) translateY(-50%);
	width: 100%;
}

.center-vert-rel {
	position: relative;
	top: 6.5px; /* icon size / 4 */
	/*transform: perspective(1px) translateY(-50%);*/
	/*width: 100%;*/
	/*opacity: .5;*/

}

.image-placeholder {
	display: inline-block;
    width: 26px;
    height: 8px;
    /*background: red;*/
    /*opacity: .3;*/
}

.title-container {
	height: 8pt;
}

.title {
	font-size: 8pt;
	width: calc(50% + 13px);
}

.title-1 p {
	margin-left: 70px;
}

.title-2 {
	left: calc(50% - 13px);
}

.title-2 p {
	margin-right: 70px;
}

.links-container {
	margin-top: 70px;
    margin-left: 140px;
    margin-right: 140px;

    width: calc(100% - 280px);

    line-height: 12pt;

    position: absolute;
    top: 100%;

    transition: opacity 1s;
    opacity: 0;
}

.links-container.active {
	opacity: 1;
}

.links-text {
	letter-spacing: 6pt;
}

.footer-container {
	width: 100vw;
	position: absolute;
	bottom: 0;
	
	padding-bottom: 70px;

    transition: opacity 1s;
    opacity: 0;
}

.footer-container.active {
	opacity: 1;
}

.footer {
	height: 8pt;
	margin: 0 -30px;
	padding: 0 140px;
}

.footer-element-container {
	width: 25%;
	float: left;
}

.footer-element {
	margin: 0 30px;
}
