// Can't use video-container since this is a known class for materialize-css

.moo-video-container {
    width: auto;
    min-height: 1px;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;

    .video {
        width: auto;
        min-height: 1px;
        height: 100%;

        video {
            width: auto;
            min-height: 1px;
            height: 100%;
        }
    }
}

.moo-video-container.alt {
    width: 100%;
    min-width: 1px;
    height: auto;

    .video {
        width: 100%;
        min-width: 1px;
        height: auto;

        video {
            width: 100%;
            min-width: 1px;
            height: auto;
        }
    }
}

// materialize-css tries to style videos as display: inline-block, but we like block instead (set in styles.scss, but it gets overridden)
video {
    display: block;
    // object-fit: contain;
}

.object-fit-contain {
    object-fit: contain;
}
