.video-container {
    width: auto;
    min-height: 1px;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;

    .video {
        width: auto;
        min-height: 1px;
        height: 100%;

        video {
            width: auto;
            min-height: 1px;
            height: 100%;
        }
    }
}

.video-container.alt {
    width: 100%;
    min-width: 1px;
    height: auto;

    .video {
        width: 100%;
        min-width: 1px;
        height: auto;

        video {
            width: 100%;
            min-width: 1px;
            height: auto;
        }
    }
}
