<div [class]="'moo-video-container' + (_video && _video.offsetWidth > _video.offsetHeight ? ' alt' : '')">
    <moo-preloader *ngIf="loading" [mode]="mode" [delay]="loading && 300" [relative]="true"></moo-preloader>
    
    <ng-container *ngIf="errored">
        <span [style.color]="'white'">X</span>
    </ng-container>

    <ng-container *ngIf="!errored">
        <div *ngIf="!loading" class="video">
            <ng-container *ngIf="calcSize">
                <ng-container *ngIf="thumbnail">
                    <video #video [src]="thref" [style.width]="getMaxHeight().width || defaultWidth || 'auto'" [style.height]="getMaxHeight().height || defaultHeight || 'auto'">
                    </video>
                </ng-container>
                
                <ng-container *ngIf="!thumbnail">
                    <video #video [src]="dhref" [style.width]="getMaxHeight().width || defaultWidth || 'auto'" controls 
                        [style.height]="getMaxHeight().height || defaultHeight || 'auto'">
                    </video>
                </ng-container>
            </ng-container>

            <video *ngIf="!calcSize" #video [src]="mhref" controls></video>
        </div>
    </ng-container>
</div>
