.top {
	position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
	text-align: center;
	
	font-size: 9pt;
	padding: 7pt 7pt 10.5pt;
	box-sizing: border-box;

	display: flex;

	position: relative;

	.center-vert {
		width: 50%;
	}
}
.spread {
	display: flex;
	justify-content: space-between;
}
.image-placeholder {
	width: 10px;// Half of the image
}
.dark-image {
	width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
}

.slider-container, moo-image {
	width: 100vw;
	height: 66.6666667vw;
	min-height: 66.666667vw;
}

moo-dots {
	margin-top: 7pt;
	margin-bottom: 7pt;
}

.background {
	color: white;

	// min-height: 100vh;
	min-height: 100vh;
	min-height: stretch;

	height: auto;
	width: 100vw;

	margin: 0;
	padding: 0;

	display: flex;
	flex-direction: column;
	
	// -webkit-overflow-scrolling: touch;

	-webkit-font-smoothing: antialiased;
	// text-rendering: optimizeLegibility;
	// text-size-adjust: none;

	background-image: url('../../assets/dark_background.jpeg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	// overflow: auto;
	// -webkit-overflow-scrolling: touch;

	// overflow-y: auto;
    overflow-x: hidden;
}

// .background-container {
// 	height: 100%;
// 	// min-height: 100vh;
// 	// min-height: stretch;
// 	width: 100%;
// 	// min-height: 100vw;
// 	display: flex;
// 	flex-direction: column;
// }

// .desc-container {
// 	width: 100%;
// 	margin: 0;
// 	padding: 0;

//     display: flex;
	
// 	flex-grow: 2;
//     flex-direction: column;

// 	color: white;

// 	overflow-y: auto;
// 	overflow-x: hidden;
	
// 	// overflow: visible;

// 	.desc {
// 		flex-grow: 2;

// 		width: auto;
// 		overflow: visible;
// 		margin: 0 7pt;
// 		width: calc(100% - 14pt);

// 		font-size: 8pt;
//     	white-space: pre-wrap;
// 		// margin-bottom: 14px;
// 	}

// 	.tags {
// 		width: auto;
// 		margin: 0 7pt;
// 		width: calc(100% - 14pt);
// 		margin-bottom: 14pt;

// 		a {
// 			color: white;
// 			text-decoration: underline;
// 			transition: color 0.5s;
// 			cursor: pointer;
// 		}

// 		a:not(:focus):not(:active):hover {
// 			transition: color 2s;
// 			color: black;
// 		}
// 	}
// }

.desc {
	flex-grow: 2;

	width: auto;
	overflow: visible;
	margin: 0 7pt;
	width: calc(100% - 14pt);

	font-size: 8pt;
	white-space: pre-wrap;
	// margin-bottom: 14px;
}

.tags {
	width: auto;
	margin: 0 7pt;
	width: calc(100% - 14pt);
	margin-bottom: 14pt;
}

a {
	color: white;
	text-decoration: underline;
	transition: color 0.5s;
	cursor: pointer;
}

a:not(:focus):not(:active):hover {
	transition: color 2s;
	color: black;
}

// @media only screen and (min-width: 500px) {
//     .desc-container {
// 		// overflow: auto;
// 		overflow: visible;
// 		-webkit-overflow-scrolling: touch;
// 	}
// }
