::-webkit-scrollbar {
  width: 4px;
}

/* Track */
// ::-webkit-scrollbar-track {
//   // border-radius: 2px;
// }
 
/* Handle */
::-webkit-scrollbar-thumb {
  // background: white; 
  background: rgba(255, 255, 255, 0.7);

  border-radius: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /*background: #white; */
  background: rgba(255, 255, 255, 0.87);
}

.background-image-holder {
  display: none;
  width: 0;
  height: 0;

  background-image: url('./assets/dark_background.jpeg');
}

.extra-spacing {
  /* Half of the font-size */
  /*letter-spacing: 2.5pt;*/
  // margin-right: 7pt;
  margin-right: 3.5pt;
}

.fixed-full {
  position: fixed;
  height: 100%;
  width: 100%;
}

.fixed-full.hidden {
  visibility: hidden;
}

.burin-sans {
  font-family: BurinSansStd, Helvetica, sans-serif;
}

.FrutigerNeue {
  font-family: FrutigerNeue, Helvetica, sans-serif;
}

.FrutigerNeueLTW01-CnMedium {
  font-family: FrutigerNeueLTW01-CnMedium, Helvetica, sans-serif;
}

.FrutigerNeueW02 {
  font-family: FrutigerNeueW02, Helvetica, sans-serif;
}

.Helvetica-Neue-LT-Pro {
  font-family: Helvetica Neue LT Pro, Helvetica, sans-serif;
}

.FrutigerNeueW02-Bd {
  font-family: FrutigerNeueW02-Bd, Helvetica, sans-serif;
}

.FrutigerNeueW02-Book {
  font-family: FrutigerNeueW02-Book, Helvetica, sans-serif;
}

.fonts {
  padding:24px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10000000;
  a {
    cursor: pointer;
    color: white;
    margin-right:24px;
  }
  a:hover {
    text-decoration: underline;
  }
  a.selected {
    text-decoration: underline;
  }
}

body {
  -webkit-font-smoothing: antialiased;

  // font-family: BurinSansStd, Helvetica, sans-serif;
  font-family: Helvetica, BurinSansStd, sans-serif;
  
  margin: 0;
  padding: 0;
  font-size: 7pt;

  width: 100vw;
  height: 100vh;

  overflow: hidden;

  color: rgba(0,0,0,0.87);
  fill: rgba(0,0,0,0.87);

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  position: relative;
}

img {
  display: block;
  -webkit-transform: translateZ(0);
  width: 100%;
  height: 100%;
}

html {
  margin: 0;
  padding: 0;
}

.themed-text {
  text-decoration: none;
  color: white;
  transition: color 0.5s;
}

.not-active {
  pointer-events: none;
  cursor: default;
  /*text-decoration: none;*/
}

.themed-text:not(:focus):not(:active):hover {
  transition: color 2s;
  color: black;
}

.themed-text:focus, .themed-text:active {
  color: white;
  transition: color 0.5s;
}

.themed-text.active {
  color: white !important;
  transition: color 0.5s !important;
}

#container {
  width: 100vw;
  height: 100vh;

  /*overflow:hidden;*/
  background-color: white;
  opacity: 0;
  transition: opacity 1s;
  
  /*background-image: url('./assets/dark_background_53.jpeg');*/
  background-image: url('./assets/dark_background.jpeg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.management-wrapper {
  //   position: absolute;
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
  
    z-index: 1;
  
    background-color: rgba(255, 255, 255, 0.75);
  }
  
  .management-wrapper.dark {
    background-color: rgba(0, 0, 0, 0.87);
    /*background-image: url('./assets/dark_background_53.jpeg');*/
    background-image: url('./assets/dark_background.jpeg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.wrapper-with-margins {
  position: absolute;
  margin: 14pt;
  /*margin: 7pt*/
  height: calc(100% - 28pt);
  width: calc(100% - 28pt);
}

#container.dark {
  background-color: black;
  opacity: 1;
  /*background-image: url('./assets/dark_background.jpeg');*/
}

p {
  margin: 0;
  padding: 0;
}

p.center {
  text-align: center;
}

/* TODO: Remove */
/* https://css-tricks.com/forums/topic/one-line-justified-text-design/ */
/*.justified {*/
  /*height: 1em;
  line-height: 1em;*/
  /*text-align: justify;*/
  /*text-align-last: justify;*/
/*}*/

/*.justified:after {
  content: '';
  display: inline-block;
  width: 100%;
}*/

/*@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {*/
@media screen and (max-width: 812px) and (max-height: 450px) and (orientation: landscape) {
    html {
      transform: rotate(-90deg);
      transform-origin: left top;
      width: 100vh;
      height: 100vw;
      /*overflow-x: hidden;*/
      position: absolute;
      top: 100%;
      left: 0;
    }

    #container {
      width: 100vh;
      height: 100vw;
  }

  .center-image {
      width: 20px !important;/*calc(.85 * 26px);*/
      height: 20px !important;/*calc(.85 * 26px);*/
  }

  .poem {
      width: calc(100% - 28pt) !important;
  }
  .poem.top {
      margin-bottom: 40px !important;
  }

  .poem.tester {
      transform: rotate(90deg);
  }

/*	.vertical-image-placeholder {
      width: 10px;
      height: 10px;
  }*/

  .management-wrapper {
    height: 100vw !important;
    width: 100vh !important;
  }

  .url-container {
      /*width: calc(100vh - 7pt) !important;*/
  }
  
  @media only screen and (max-height: 600px) {
      .input-container {
          width: 100% !important;
      }
  }

}

/* Dragula CSS */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);

  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  perspective: 1000;
  -webkit-perspective: 1000;
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
/* END Dragula CSS */