@import 'styles/font.scss';
@import 'styles/variables.scss';

:root {
  --app-height-100: 100vh;
  --app-height-95: 95vh;
  --app-height-50: 50vh;
}

// Font related styles
.margin-right-small-font-size {
  margin-right: $smallFontSize;
}
.margin-bottom-mobile-small-font-size-2 {
  margin-bottom: $mobileSmallFontSize*2;
}
.margin-bottom-small-font-size-2 {
  margin-bottom: $smallFontSize*2;
}
.margin-bottom-small-font-size-4 {
  margin-bottom: $smallFontSize*4;
}
.margin-bottom-0 {
  margin-bottom: 0;
}

::-webkit-scrollbar {
  width: 4px;
}

.minor-effect.black {
  background-color: rgba(0,0,0,0.1) !important;
}
.minor-effect.white {
  background-color: rgba(255,255,255,0.35) !important;
}

.btn, .btn-flat {
  font-family: Helvetica, sans-serif;
}
.btn-large {
	line-height: 0 !important;// Fixes the svg not being center
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
	fill: white !important;
}

.btn-flat:hover, .btn-flat.dark {
  color: white;
}.btn-flat:hover {
  background: #26a69a;
}

moo-icon.dark {
	color: white;
	fill: white;
}

/* Track */
// ::-webkit-scrollbar-track {
//   // border-radius: 2px;
// }
 
/* Handle */
::-webkit-scrollbar-thumb {
  // background: white; 
  background: rgba(255, 255, 255, 0.7);

  border-radius: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /*background: #white; */
  background: rgba(255, 255, 255, 0.87);
}

.background-image-holder {
  display: none;
  width: 0;
  height: 0;

  background-image: url('./assets/dark_background.jpeg');
}

.extra-spacing {
  margin-right: $smallFontSize/2;//3.5pt;
}

.fixed-full {
  position: fixed;
  height: 100%;
  width: 100%;
}

.fixed-full.hidden {
  visibility: hidden;
}

.burin-sans {
  font-family: BurinSansStd, Helvetica, sans-serif;
}

.helvetica {
  font-family: Helvetica, sans-serif;
}

body.dark {
  background: black;
  transition: background 1s cubic-bezier(0.35, 0, 0.25, 1);
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;

  width: 100vw;
  height: 100vh;

  overflow: hidden;

  color: rgba(0,0,0,0.87);
  fill: rgba(0,0,0,0.87);
  
  font-size: $smallFontSize;//7pt;

  -webkit-font-smoothing: antialiased;

  font-family: BurinSansStd, Helvetica, sans-serif;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  position: relative;
}

body.project {
  overflow-x: hidden;
  overflow-y: visible;
	min-height: 100vh;
  min-height: stretch;
  height: auto;
  background: black;
}

// Remove (ugly) highlight styles on tap and outline styles on interaction with iframes or video
div, span, a, video, iframe {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  outline: none !important;
}

img, video {
  display: block;
  
  width: 100%;
  height: 100%;

  object-fit: contain;
}

a {
  cursor: pointer;
  color: white;
  text-decoration: none;
}

input, label, .toast {
  font-family: Helvetica, sans-serif;
}

.themed-text {
  text-decoration: none;
  color: white;
  transition: color 500ms cubic-bezier(0.35, 0, 0.25, 1);
}

.not-active {
  pointer-events: none;
  cursor: default;
}

.themed-text:not(:focus):not(:active):hover {
  transition: color 2s cubic-bezier(0.35, 0, 0.25, 1);
  color: black;
}

.themed-text:focus, .themed-text:active {
  color: white;
  transition: color 500ms cubic-bezier(0.35, 0, 0.25, 1);
}

.themed-text.active {
  color: white !important;
  transition: color 500ms cubic-bezier(0.35, 0, 0.25, 1) !important;
}

#container {
  width: 100vw;
  height: 100vh;

  background-color: white;
  opacity: 0;
  transition: opacity 1s cubic-bezier(0.35, 0, 0.25, 1);
  
  background-image: url('./assets/dark_background.jpeg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.management-wrapper {
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
  
    z-index: 1;
  
    background-color: rgba(255, 255, 255, 0.75);
  }
  
  .management-wrapper.dark {
    background-color: rgba(0, 0, 0, 0.87);
    background-image: url('./assets/dark_background.jpeg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.mobile-wrapper-with-margins {
  position: absolute;
  margin: $mobileSmallFontSize * 2;//$smallFontSize * 2;//14pt;
  height: calc(100% - 4 * #{$mobileSmallFontSize});//calc(100% - 4 * #{$smallFontSize});//calc(100% - 28pt);
  width: calc(100% - 4 * #{$mobileSmallFontSize});//calc(100% - 4 * #{$smallFontSize});//calc(100% - 28pt);
}

#container.dark {
  background-color: black;
  opacity: 1;
}

p {
  margin: 0;
  padding: 0;
}

p.center {
  text-align: center;
}

@media only screen and (max-height: 600px) {
  #container {
    min-height: 500px;
  }
  .fixed-full {
    overflow-y: auto;
    overflow-x: hidden;
    // overflow-y: scroll; // has to be scroll, not auto
    -webkit-overflow-scrolling: touch;
    .fixed-full-container {
      min-height: 500px;
      position: relative;
      height: 100%;
      .fixed-full {
        min-height: 500px;
        position: absolute;
      }
    }
  }
}

// }

/* Dragula CSS */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);

  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  perspective: 1000;
  -webkit-perspective: 1000;
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
/* END Dragula CSS */


.trash .gu-transit {
	/*display: none;*/
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1000;
	opacity: .9;
	width: 48px;
	height: 48px;
}
