.extra-spacing {
	/* Half of the font-size */
	/*letter-spacing: 2.5pt;*/
	margin-right: 7pt;
}

body {
	font-family: BurinSansStd;
	margin: 0;
	padding: 0;
	font-size: 7pt;

	width: 100vw;
	height: 100vh;

	overflow:hidden;

	color: white;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

img {
	display: block;
	-webkit-transform: translateZ(0);
	width: 100%;
	height: 100%;
}

html {
	margin: 0;
	padding: 0;
}

a {
    text-decoration: none;
    color: white;
	transition: color 0.5s;
}

.not-active {
  pointer-events: none;
  cursor: default;
  /*text-decoration: none;*/
}

a:not(:focus):not(:active):hover {
	transition: color 2s;
	color: black;
}

a:focus, a:active {
	color: white;
	transition: color 0.5s;
}

a.active {
	color: white !important;
	transition: color 0.5s !important;
}

#container {
	width: 100vw;
	height: 100vh;

	/*overflow:hidden;*/
	background-color: white;
	opacity: 0;
	transition: opacity 1s;
	
	/*background-image: url('./assets/dark_background_53.jpeg');*/
	background-image: url('./assets/dark_background.jpeg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.wrapper-with-margins {
	position: absolute;
	margin: 14pt;
	/*margin: 7pt*/
	height: calc(100% - 28pt);
	width: calc(100% - 28pt);
}

#container.dark {
	background-color: black;
	opacity: 1;
	/*background-image: url('./assets/dark_background.jpeg');*/
}

p {
	margin: 0;
	padding: 0;
}

p.center {
	text-align: center;
}

/* TODO: Remove */
/* https://css-tricks.com/forums/topic/one-line-justified-text-design/ */
/*.justified {*/
	/*height: 1em;
	line-height: 1em;*/
	/*text-align: justify;*/
	/*text-align-last: justify;*/
/*}*/

/*.justified:after {
	content: '';
	display: inline-block;
	width: 100%;
}*/

/*@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {*/
@media screen and (max-width: 812px) and (max-height: 450px) and (orientation: landscape) {
  	html {
	    transform: rotate(-90deg);
	    transform-origin: left top;
	    width: 100vh;
	    height: 100vw;
	    /*overflow-x: hidden;*/
	    position: absolute;
	    top: 100%;
	    left: 0;
  	}

  	#container {
		width: 100vh;
		height: 100vw;
	}
}
