.extra-spacing {
	letter-spacing: 6pt;
}

body {
	font-family: BurinSansStd;
	margin: 0;
	padding: 0;
	font-size: 7pt;

	overflow:hidden;
}

img {
	display: block;
}

html {
	margin: 0;
	padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

#container {
	width: 100vw;
	height: 100vh;

	overflow:hidden;
	background-color: white;
	opacity: 0;
	transition: opacity 1s;
	
	background-image: url('./assets/dark_background.jpeg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#container.dark {
	background-color: black;
	opacity: 1;
	/*background-image: url('./assets/dark_background.jpeg');*/
}

p {
	margin: 0;
	padding: 0;
}

p.center {
	text-align: center;
}

/* https://css-tricks.com/forums/topic/one-line-justified-text-design/ */
.justified {
	/*height: 1em;
	line-height: 1em;*/
	text-align: justify;
	text-align-last: justify;
}

/*.justified:after {
	content: '';
	display: inline-block;
	width: 100%;
}*/

body {
	color: white;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
