// .dragging {
// 	touch-action: none;
// }

.top-buttons {
	margin-bottom: calc(1rem + 18px);
	display: flex;
    margin: 1rem 0;
    height: auto;
    flex-direction: row;
}
.bottom-buttons {
	margin-top: 33px;
}

.management-options-container {
	width: 300px;
	// height: 20px;
	font-size: 16px;
	margin-left: calc(17px + 18pt);
	margin-bottom: 32px;
	color: rgba(0,0,0,0.87);
	transition: 300ms cubic-bezier(0.35, 0, 0.25, 1);
}
.management-options-container.management-option-advancedEdit {
	margin-left: .75rem;
}
.advanced-edit-back-wrapper {
	margin-left: .75rem;
	margin-bottom: 1.5rem;
}

.project-slideshow-text {
	font-size: 1rem;
	margin-left: 75px;
}

.project-slideshow-text.dark {
	color: white;
}

.management-options-container.dark {
	color: white;
}

.management-options {
	display: flex;
}

.management-option {
	width: 100px;
    cursor: pointer;
}
.management-option.advancedEdit {
	width: 300px;
}

.management-option.active {
	color: #26a69a;
	font-weight: 600;
}

.management-option-active-border {
	width: 100px;
	height: 0px;
	// background: rgba(0,0,0,0.87);
	transition: 300ms cubic-bezier(0.35, 0, 0.25, 1);
	border-bottom: 1px solid #26a69a;
    box-shadow: 0 1px 0 0 #26a69a;
}
.management-option-active-border.advancedEdit {
	width: 300px;
}

.management-option-active-border.dark {
	background: white;
}

.management-option-active-border.active-footer {
	margin-left: 100px;
}

.management-option-active-border.active-tips {
	margin-left: 200px;
}
.management-option-active-border.active-advancedEdit {
	margin-left: 0;
	width: 300px;
}

.tips-container {
	margin: 0 calc(17px + 18pt);
	font-size: 9pt;

	.example-container {
		min-height: 100px;
		padding: 4.5pt;
		display: flex;
		justify-content: center;
		align-items: center;
		background: black;
		margin-bottom: 18pt;
		border-radius: 4px;
    	padding: 9pt;
	}
	.example-container.dark {
		background: transparent;
	}

	.mobile-example-container {
		max-width: 265.95px;
    	font-size: 7pt;
	}

	.desktop-example-container {
		overflow: hidden;
	}

	.tips-margin-bottom {
		margin-bottom: 9pt;
	}

	.tips-margin-bottom.extra {
		margin-bottom: 18pt;
	}

	.code-text {
		padding: 4.5pt;
		border-radius: 4pt;
		margin: 0 4.5pt;
		color: white;
		background: #4db6ac;
	}
}

.tips-container.dark {
	color: white;
}

.editables {
	margin-right: calc(56px + 9pt);
}

.editable-row {
	display: flex;
	width: 100%;

	.index {
		display: flex;
		flex-direction: row-reverse;
		font-size: 16px;
		width: 17px;
		margin-right: 9pt;

  		font-family: Helvetica, sans-serif;
	}
	.index.dark {
		color: white;
	}

	.inputs {
		flex-grow: 2;
	}

	.editable-buttons {
		display: flex;
		flex-direction: column;
		
		.editable-button {
			width: 48px;
			height: 48px;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}

.dark-btn {
    background: black;
}
.dark-btn.dark {
	background: white;
	color: black;
}
.dark-btn.dark:hover {
	background: black;
	color: white;
}

.sign-in {
	z-index: 10;
    position: fixed;
    margin-left: 50%;
    transform: perspective(1px) translateX(-50%);

    max-width: 500px;
	min-width: calc(320px - 14pt);
	
	// margin-top: 7pt;
	// padding: 7pt;
	padding: 0 32px 12pt;
	background: rgba(255,255,255,.95);

	transition: 250ms cubic-bezier(0.35, 0, 0.25, 1);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.sign-in.dark {
	background: rgba(0,0,0,.95);
}

.visible-on-mode {
	color: black;
}
.visible-on-mode.dark {
	color: white;
}

.top-nav-text {
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-nav {
	color: grey;
    position: absolute;
    z-index: 4;
    display: flex;
    right: 0;
}
.management-top-nav {
	color: black;
    width: 70px;
    height: 70px;
    cursor: pointer;
}
.management-top-nav.dark {
	color: white;
}

.manage-mode-selector {
	color: black;
	font-size: 20px;
}
.manage-mode-selector.dark {
	color: white;
}

.index-number {
	margin-top: 16px;
	width: 48px;
    /* margin: auto; */
    height: 48px;
    border-radius: 50%;
    background: lightgrey;
    text-align: center;
    color: black;
    /* margin: auto; */
    vertical-align: middle;
    line-height: 48px;
    font-size: 20px;
}

.index-number {
    background: black;
    color: white;
}
.index-number.dark {
    background: white;
    color: black;
}

.input-containers {
	flex-grow: 1;
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.input-container {
	width: calc(50% - 35px);
}

.management-container {
	margin-top: 70px;

	// padding: 70px;
	// display: flex;
    // width: 100%;
    // justify-content: space-between;
    // flex-wrap: wrap;
}

@media only screen and (max-width: 1000px) {
	.input-container {
		width: calc(50% - 7pt);
	}

	// .index-container {
	// 	margin-right: 7pt;
	// }

	// .management-container {
	// 	padding: 70px 7pt;
	// }
}

@media only screen and (max-width: 600px) {
	.input-container {
    	width: 100%;
	}
}

.poem-image {
	/*margin-top: 21px;*/
	/*position:relative;*/
	/*top:0.02202279359%;*/
	margin-top: 4.624786654%;
	// max-width: 500px;
	max-width: 333.5px;
    width: 100%;
    height: auto;
    opacity: 0;
	transition: opacity 500ms cubic-bezier(0.35, 0, 0.25, 1);
}

.poem-image.light {
	opacity: 1;
}

.poem.light {
	opacity: 1;
}

.poem-container {
	z-index: 2;
	width: 100%;
	height: 100%;

	position: absolute;

	display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  flex-wrap: wrap;

  flex-direction: column;
}

.poem {
	opacity: 0;
	transition: opacity 500ms cubic-bezier(0.35, 0, 0.25, 1);

	color: black;
	width: 33.3333333%;
    text-align: justify;
    text-align-last: justify;
    hyphens: auto;
}

@media only screen and (max-width: 992px) {
	.poem {
		width: 50%;
	}
}
@media only screen and (max-width: 600px) {
	.poem {
		width: calc(100% - 28pt);
	}
}

.poem.divided {
	overflow: hidden;
}

.poem.top {
	margin-bottom: 52px;
}
.poem.top.vertical {
	margin-bottom: 40px;
}
.poem.bottom {
	position: relative;
}

.poem span {
	line-height: 14pt;
}

.poem.bottom .bottom-poem-span {
	position: absolute;
    width: 100%;
    bottom: 0;
}

.spaced-char {
	margin: 0 7pt;
}

.poem.tester {
	position: absolute;
	visibility: hidden;
	top: 0;
}

.justify-vert {
	display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}

.center-horizontal {
	position: absolute;
    margin-left: 50%;
    transform: perspective(1px) translateX(-50%);
}

.title-vert {
	font-size: 9pt;
	height: 50%;
	/*height: calc(50% - 14pt);*/
	color: white;
}

// .title-vert-1 {
// 	/*margin-top: 14pt;*/
// }

.title-vert-2 {
	bottom: 0;
	/*margin-bottom: 14pt;*/
}

.mobile-text-container {
	opacity: 0;
	/*width: calc(50% - 6.5px - 42px);*/
	width: calc(50% - 5px - 42px);
	max-width: 150px;
    transition: opacity 2s cubic-bezier(0.35, 0, 0.25, 1);
}

.mobile-text-container.with-extra-margins {
	/*width: calc(50% - 6.5px - 42px - 42px);*/
	width: calc(50% - 5px - 42px - 42px);
}

.mobile-text-container.active {
	opacity: 1;
}

.mobile-text-container.mobile-text-container-footer {
	position: absolute;
	right: 0;
	bottom: 0;
	height: auto;
	// margin-bottom: -7pt;
}

.mobile-text {
	display:flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.new-line {
	width: 100%;
	display: inline;
}

.top-urls-justified {
	display: flex;
	justify-content: space-between;
}

.top-urls-container {
	display: inline-block;
}

.center-image {
	position: absolute;
	
	z-index: 4;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 26px;
	height: 26px;

	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}

.center-image.vertical {
	width: 20px;
    height: 20px;
}

.vertical-image-placeholder {
	width: 10px;
	height: 10px;
}

.light-image, .light-image:hover {
	opacity: 0;
	transition: opacity 500ms cubic-bezier(0.35, 0, 0.25, 1);
	cursor: pointer;
	background-color: rgb(255, 255, 255);
}

.light-image.light {
	opacity: 1;
}
.light-image.light:hover {
	opacity: .66;
}

.dark-image, .dark-image:hover {
	/*position: absolute;*/
	top: 0;
	opacity: 0;
	width: 0;
	height: 0;
	cursor: pointer;
	background-color: rgb(0, 0, 0);
}

.dark-image.dark {
	z-index: 4;
	opacity: 1;
	/*width: 26px;*/
	/*height: 26px;*/
	width: 100%;
	height: 100%;
	transition: opacity 2s cubic-bezier(0.35, 0, 0.25, 1);
}
.dark-image-safari-fix {
	/*opacity: 1;*/
	position: absolute;
}
.dark-image.dark:hover {
	opacity: .66;
	transition: opacity 500ms cubic-bezier(0.35, 0, 0.25, 1);
}

.first-only::first-line {
	/*color: blue !important;*/
	/*text-align: justify;*/
	display: none;
}

// .first-only {
// 	/*color: red !important;*/
// }

.height-p::first-line {
	/*word-spacing: normal;*/
	color: red;
}

.height-p:before {
  content: '';
  float: right;
  /*width: 10em;*/
  width: 100%;
}

.height-p {
	/*word-spacing: 100vw;*/
	width: 50px;
	color: green;
}

.center-vert {
	position: absolute;
	top: 50%;
	transform: perspective(1px) translateY(-50%);
	width: 100%;
}

.center-vert-rel {
	position: relative;
	/*top: 6.5px;  icon size / 4 */
	top: 5px; /* icon size / 4 */
}

.image-placeholder {
	display: inline-block;
    width: 26px;
    height: 8px;
}

.title-container {
	height: 9pt;
	color: white;
}

.title {
	font-size: 9pt;
	width: calc(50% + 13px);
}

.title div {
	display: flex;
	justify-content: space-between;
}

.title-1 div {
	margin-left: 70px;
}

.title-2 {
	left: calc(50% - 13px);
}

.title-2 div {
	margin-right: 70px;
}

.title-mobile {
	font-size: 9pt;
	height: calc(50% - 13px - 20px);
	width: 26px;
}

.links-container {
	margin-top: 70px;
    margin-left: 140px;
    margin-right: 140px;

    width: calc(100% - 280px);

    line-height: 14pt;

    position: absolute;
    top: 100%;

    transition: opacity 2s cubic-bezier(0.35, 0, 0.25, 1);
    opacity: 0;
}

.links-container.active {
	opacity: 1;
}

.links-text {
	letter-spacing: 6pt;
}

.footer-container {
	width: 100vw;
	position: absolute;
	bottom: 0;
	
	padding-bottom: 70px;

    transition: opacity 2s cubic-bezier(0.35, 0, 0.25, 1);
    opacity: 0;
}

.footer-container.active {
	opacity: 1;
}

.footer {
	height: 9pt;
	margin: 0 -30px;
	padding: 0 140px;
}

.footer-element-container {
	width: 25%;
	float: left;
}

.footer-element {
	margin: 0 30px;
}

/* Horizontal margin changes for better iPad / mobile experiences */
@media only screen and (max-width: 1000px) {
	.title-1 div {
		margin-left: 14pt;
		/*margin-left: 7pt;*/
	}

	.title-2 div {
		margin-right: 14pt;
		/*margin-right: 7pt;*/
	}

	.links-container {
		margin-top: 14pt;
		/*margin-top: 7pt;*/
	    margin-left: 28pt;
	    /*margin-left: 14pt;*/
	    margin-right: 28pt;
	    /*margin-right: 14pt;*/

	    width: calc(100% - 56pt);
	    /*width: calc(100% - 28pt);*/
	}

	.footer {
		padding: 0 28pt;
		/*padding: 0 14pt;*/
	}

	.footer-container {
		padding-bottom: 14pt;
		/*padding-bottom: 7pt;*/
	}
}

@media only screen and (max-width: 1120px) {
	.footer {
		margin: 0 -7pt;
	}

	.footer-element {
		margin: 0 7pt;
	}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.image-close {
	fill: white;
    position: absolute;
	top: 18px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 12px 12px 0;
    opacity: .5;
    cursor: pointer;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
	border-radius: 0 0 4px 0;
	z-index: 1;

	.icon-holder {
		.icon-inner {
			width: 24px;
    		height: 24px;
		}

		width: 24px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
.image-close:hover {
	opacity: 1;
}

.slideshow-container.active {
	animation: fadeIn .5s;
	opacity: 1;

	position: fixed;
    width: calc(100vw - 140px);
	height: calc(100vh - 210px - 7pt - 52px);
	z-index: 5;

    margin-top: calc(70px + 52px);
    margin-left: 70px;
    margin-right: 70px;
	margin-bottom: calc(140px + 7pt);

	display: flex;

	.image {
		height: 100%;
		width: 0;// Width will be handled by flex-grow
		flex-grow: 1;
		// background: rgba(0, 0, 0, 0.3);
		position: relative;

		display: flex;
		justify-content: center;
		align-items: center;

		.image-navigation {
			fill: white;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			padding: 12px 12px 12px 0;
			opacity: .5;
			cursor: pointer;
			left: 0;
			background: rgba(0,0,0,.1);
			border-radius: 0 4px 4px 0;
			.icon-holder {
				.icon-inner {
					width: 12px;
				}

				width: 24px;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}

		.image-navigation.next {
			left: auto;
			right: 0;
			transform: translateY(-50%) scale(-1,1);
			padding: 12px 12px 12px 0;
			border-radius: 0 4px 4px 0;
		}

		.image-navigation:hover {
			opacity: 1;
		}
		.dots-container {
			position: absolute;
			// bottom: 10px;
    		bottom: -14pt;
		}
	}
	.right-side.with-images {
		margin-left: 14.5pt;
		width: 360px;
	}

	.right-side {
		overflow-y: auto;
		display: flex;
		flex-direction: column;

		.desc {
			.project-name {
				// Makes the line-height match up with the rest of the description
				line-height: 1;
			}

			white-space: pre-wrap;

			font-size: 8pt;
    		color: white;

			overflow-y: auto;
			flex-grow: 1;

			// source: https://css-tricks.com/snippets/css/momentum-scrolling-on-ios-overflow-elements/
			// overflow-y: scroll; /* has to be scroll, not auto */
  			// -webkit-overflow-scrolling: touch;
			
			// ionic's styles for lists
			-webkit-font-smoothing: antialiased;
			text-rendering: optimizeLegibility;
			// overflow: hidden;
			touch-action: manipulation;
			-webkit-user-drag: none;
			-ms-content-zooming: none;
			// word-wrap: break-word;
			// overscroll-behavior-y: none;
			text-size-adjust: none;
			margin: 0;
			padding: 0;
			// END ionic's styles for lists
		}
		.tags {
			color: white;
			.tag {
				// margin-top: 7pt;

				a {
					color: white;
					text-decoration: underline;
					transition: color 500ms cubic-bezier(0.35, 0, 0.25, 1);
					cursor: pointer;
				}

				a:not(:focus):not(:active):hover {
					transition: color 2s cubic-bezier(0.35, 0, 0.25, 1);
					color: black;
				}
			}
		}
	}
}

.slideshow-container.test {
	background: green;
	.image {
		background: grey;
		.image-navigation {
			background:blue;
		}
	}
	.right-side {
		.desc {
			background: red;
		}
		.tags {
			background: blue;
		}
	}
}

.slideshow-animate.center-image {
	transition: top 1s cubic-bezier(0.35, 0, 0.25, 1);
}

.slideshow-animate.center-vert.title-container {
	.title {
		transition: top 1s cubic-bezier(0.35, 0, 0.25, 1);
	}
}

.title.test {
	background: green;
}

.slideshow.center-image {
	top: calc(70px + 13px);// margin + half height of image
}
.slideshow-animate.slideshow.center-image {
	transition: top 500ms cubic-bezier(0.35, 0, 0.25, 1);
}

.slideshow.center-vert.title-container {
	cursor: pointer;
	
	.title {
		top: calc(-50vh + 70px + 14.5pt);// half screen (-50vh), margin (70px), line-height (1.5) * fontsize (9pt)
	}
	.links-container {
		opacity: 0;
		transition: opacity 500ms cubic-bezier(0.35, 0, 0.25, 1);
	}
}

.slideshow-animate.slideshow.center-vert.title-container {
	.title {
		transition: top 500ms cubic-bezier(0.35, 0, 0.25, 1);
	}
}

@media only screen and (max-width: 600px) {
	.top-nav {
		display: none;
	}
	.slideshow-container, .slideshow-container.active {
		margin: 0;
		padding: 0;

		width: 100vw;
		height: 100vh;
		
		display: flex;
		flex-direction: column;

		overflow-y: auto;

		// source: https://css-tricks.com/snippets/css/momentum-scrolling-on-ios-overflow-elements/
		// overflow-y: scroll; /* has to be scroll, not auto */
		// -webkit-overflow-scrolling: touch;
		
		// ionic's styles for lists
		-webkit-font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
		// overflow: hidden;
		touch-action: manipulation;
		-webkit-user-drag: none;
		-ms-content-zooming: none;
		// word-wrap: break-word;
		// overscroll-behavior-y: none;
		text-size-adjust: none;
		margin: 0;
		padding: 0;
		// END ionic's styles for lists

		.image {
			width: 100%;
			height: 100%;
			max-height: none;
			justify-content: center;
			overflow: visible;
		}

		.right-side {

			width: 100%;
			margin: 0;
			padding: 0;
			margin-top: 24px;
			margin-bottom: 24px;
			display: block;
			overflow: visible;

			.desc {
				width: 100%;
				overflow: visible;
				// border: 1px solid green;
				margin: 0 7pt;
				width: calc(100% - 14pt);
			}

			.tags {
				width: 100%;
				// border: 1px solid blue;
				margin: 0 7pt;
				width: calc(100% - 14pt);
			}
		}
	}

	.center-image {
		top: 50%;
	}
	.slideshow.center-image {
		transition: opacity 1s cubic-bezier(0.35, 0, 0.25, 1);
		opacity: 0;
		top: 50%;
	}
	.slideshow-animate.slideshow.center-image {
		transition: opacity 1s cubic-bezier(0.35, 0, 0.25, 1);
		opacity: 0;
		top: 50%;
	}
	.slideshow-animate.center-image {
		transition: opacity 500ms cubic-bezier(0.35, 0, 0.25, 1);
		opacity: 1;
		top: 50%;
	}
}

.thumbnail-wrapper {
	cursor: pointer;
}

.thumbnail-close {
	position: absolute;
	top: 0;
	right: 0;

	color: rgba(white, .5);
	fill: rgba(white, .5);

	background: rgba(0, 0, 0, .1);

	border-radius: 8px;
}
.thumbnail-close:hover {
	color: rgba(#26a69a, .9);
	fill: rgba(#26a69a, .9);
}

.image-edit-back {
	position: absolute;
	top: 50%;
    transform: translateY(-50%);

	left: 3px;

	color: rgba(white, .5);
	fill: rgba(white, .5);

	background: rgba(0, 0, 0, .1);

	border-radius: 8px;
}
.image-edit-forward {
	position: absolute;
	top: 50%;
    transform: translateY(-50%) scale(-1,1);;

	right: 3px;

	color: rgba(white, .5);
	fill: rgba(white, .5);

	background: rgba(0, 0, 0, .1);

	border-radius: 8px;
}
.thumbnail-close:hover, .image-edit-back:hover, .image-edit-forward:hover {
	color: rgba(#26a69a, .9);
	fill: rgba(#26a69a, .9);
}

.thumbnail {
	width: 160px;
	height: 120px;
    margin: 12px;
    border-radius: 8px;
	background: rgba(0,0,0,.86);
	overflow: hidden;	
	position: relative;	
}

.advanced-edit-images {
	display: flex;
	flex-wrap: wrap;
}

.no-images {
	margin: 12px;
}

.tag-metadatas, .project-href, .footer-href, .tag-section-href {
	width: calc(100% - 64px);
	margin-left: 64px;
}

.image-input {
	display: flex;

	moo-input {
		flex-grow: 2;
	}

	a {
		margin-left: 1.5rem;
    	margin-top: 26px;
	}
}
