
<ng-container *ngIf="loading || saving || authPending">
    <moo-preloader [mode]="mode" [delay]="loading && 1000"></moo-preloader>
</ng-container>



<div *ngIf="showSlideshow" [class]="'slideshow-container' + (slideshow ? ' active' : '') + (test ? ' test' : '')">
    <div *ngIf="activeProject.imageUrls && activeProject.imageUrls.length" #imageContainer class="image">
        <moo-image [mode]="mode" [href]="activeProject.imageUrls[imageIndex]" [container]="imageContainer" [calcSize]="true"></moo-image>

        <div *ngIf="activeProject.imageUrls && activeProject.imageUrls.length > 1" class="image-navigation" (click)="backImage()">
            <div class="icon-holder">
                <div class="icon-inner">
                    <moo-icon [icon]="'navigate_back'"></moo-icon>
                </div>
            </div>
        </div>

        <div *ngIf="activeProject.imageUrls && activeProject.imageUrls.length > 1" class="image-navigation next" (click)="nextImage()">
            <div class="icon-holder">
                <div class="icon-inner">
                    <moo-icon [icon]="'navigate_back'"></moo-icon>
                </div>
            </div>
        </div>

        <div *ngIf="showSlideshow" class="image-close" (click)="toggleSlideshow()">
            <div class="icon-holder">
                <div class="icon-inner">
                    <moo-icon [icon]="'close'"></moo-icon>
                </div>
            </div>
        </div>

        <div *ngIf="activeProject.imageUrls && activeProject.imageUrls.length > 1" class="dots-container">
            <moo-dots [items]="activeProject.imageUrls" [activeIndex]="imageIndex"></moo-dots>
        </div>
    </div>
    <div [class]="'right-side helvetica' + (activeProject.imageUrls && activeProject.imageUrls.length ? ' with-images' : '')">
        <div class="desc"><span class="project-name burin-sans"><moo-spaced [chars]="activeProject.text"></moo-spaced></span>&nbsp;&nbsp;/&nbsp;&nbsp;{{ activeProject.desc }}</div>

        <div *ngIf="activeProject.tags && activeProject.tags.length" class="tags">
            <div *ngFor="let tag of activeProject.tags" class="tag">
                <span class="burin-sans">{{ tag.text }}&nbsp;:&nbsp;</span>
                <ng-container *ngIf="tag.elements && tag.elements.length">
                    <ng-container *ngFor="let element of tag.elements; let i = index">
                        <a *ngIf="element.href" #aTag [href]="element.href" (click)="aTag.blur(); getActive(aTag)"[target]="!element.href || element.href.indexOf('mailto:') !== -1 || element.href.indexOf('tel:') !== -1 ? '' : '_blank'" (mouseleave)="getNotActive(aTag)">{{ element.text }}</a>
                        <span *ngIf="!element.href">{{ element.text }}</span>
                        <ng-container *ngIf="i !== tag.elements.length - 1">
                            <span class="burin-sans"> / </span>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!loggedIn && showLogin" [class]="'sign-in ' + mode">
    <div>
        <moo-input [mode]="mode" [text]="email" [label]="'Email'" (valueChanged)="email = $event"></moo-input>
    </div>
    <div>
        <moo-input [mode]="mode" [text]="password" [inputType]="'password'" [label]="'Password'" (valueChanged)="password = $event"></moo-input>
    </div>
    <div>
        <a [class]="'waves-effect waves-light btn-small dark-btn ' + mode" [style.margin-right]="'7pt'" (click)="firebasePasswordLogin()">Login</a>
        <a [class]="'waves-effect waves-light btn-flat btn-small ' + mode" (click)="firebaseRequestPasswordReset()">Forgot</a>
    </div>
</div>

<div class="top-nav">
    <div *ngIf="loggedIn" [class]="'management-top-nav management-hide waves-effect ' + (mode==='dark' ? 'waves-light ' : '') + mode">
        <div (click)="toggleShowManagement()">
            <div *ngIf="showManagement" [class]="'top-nav-text'">Hide</div>
            <div *ngIf="!showManagement" [class]="'top-nav-text'">Show</div>
        </div>
    </div>
    
    <div [class]="'management-top-nav management-log waves-effect ' + (mode==='dark' ? 'waves-light ' : '') + mode">
        <div *ngIf="!loggedIn" [class]="'management-top-nav management-log ' + mode" (click)="showLogin = !showLogin">
            <div *ngIf="showLogin" [class]="'top-nav-text'">Cancel</div>
        </div>
        <div *ngIf="loggedIn" [class]="'management-top-nav management-log ' + mode" (click)="logUserOut()">
            <div [class]="'top-nav-text'">Logout</div>
        </div>
    </div>
</div>

<div *ngIf="loggedIn && showManagement" #managementWrapper [class]="'management-wrapper ' + mode">
    <div [class]="'fixed-action-btn ' + mode" (click)="save()">
        <a [class]="'btn-floating btn-large waves-effect waves-light ' + mode">
            <moo-icon [icon]="'upload'"></moo-icon>
        </a>
    </div>

    <div [class]="'management-container ' + (dragging ? 'dragging' : '')" [style.color]="'black'">
        <div [class]="'management-options-container ' + mode">
            <div class="management-options wave-effect">
                <ng-container *ngIf="activeManagementOption !== 'advancedEdit'">
                    <div [class]="'management-option ' + (activeManagementOption === 'projects' ? 'active' : '')" (click)="setActiveManagementOption('projects')">
                        <span>Projects</span>
                    </div>
                    <div [class]="'management-option ' + (activeManagementOption === 'footer' ? 'active' : '')" (click)="setActiveManagementOption('footer')">
                        <span>Footer</span>
                    </div>
                    <div [class]="'management-option ' + (activeManagementOption === 'tips' ? 'active' : '')" (click)="setActiveManagementOption('tips')">
                        <span>Tips</span>
                    </div>
                </ng-container>

                <ng-container *ngIf="activeManagementOption === 'advancedEdit'">
                    <div [class]="'management-option advancedEdit ' + (activeManagementOption === 'advancedEdit' ? 'active' : '')">
                        <span>Advanced Project Form</span>
                    </div>
                   
                </ng-container>
            </div>
            <div [class]="'management-option-active-border ' + mode + ' ' + 'active-' + activeManagementOption">
                <!-- active bar -->
            </div>
        </div>

        <ng-container *ngIf="activeManagementOption === 'advancedEdit'">
            <div [class]="'management-option'" (click)="setActiveManagementOption('projects')">
                <span>Back</span>
            </div>

            <moo-input [mode]="mode" [text]="advancedEditProject.text" [label]="'Project name'" [textIsInvalidFuncs]="[isEmptyProject]"
                (valueChanged)="advancedEditProject.text = $event"></moo-input>
            
            <moo-textarea [mode]="mode" [text]="advancedEditProject.desc" [label]="'Project desc'"
                (valueChanged)="advancedEditProject.desc = $event"></moo-textarea>

            <moo-input [mode]="mode" [text]="advancedEditImageUrl" [label]="'Imgur Url'" (valueChanged)="advancedEditImageUrl.text = $event"></moo-input>

            <a (click)="addImage()">Add image</a>

            <ng-container *ngFor="let imageUrl of advancedEditProject.imageUrls">
                <div class="thumbnail" #thumbnail>
                    <moo-image [thumbnail]="true" [mode]="mode" [href]="imageUrl" [container]="thumbnail" [calcSize]="true">
                    
                    </moo-image>
                </div>
            </ng-container>
           
        </ng-container>
        
        <ng-container *ngIf="activeManagementOption==='projects'">
            <div id="drakeTest" dragula="URLS" [(dragulaModel)]="appService.projects" class="editables">
                <div *ngFor="let project of appService.projects; let i = index">
                    <div class="row">
                        <div class="col s12">
                            <div class="editable-row">
                                <div [class]="'index ' + mode">
                                    {{ i + 1 }}.
                                </div>
                                <div class="inputs">
                                    <moo-input [mode]="mode" [text]="project.text" [label]="'Project name'" [textIsInvalidFuncs]="[isEmptyProject]" (valueChanged)="project.text = $event"></moo-input>
                                    <ng-container *ngIf="!project.useSlideshow">
                                        <moo-input [mode]="mode" [text]="project.href" [label]="'Project project'" [textIsInvalidFuncs]="[isInvalidUrl]" (valueChanged)="project.href = $event"></moo-input>
                                    </ng-container>
                                    <ng-container *ngIf="project.useSlideshow">
                                        <a (click)="setAdvanceEdit(i)">Click here to edit this project</a>
                                    </ng-container>
                                </div>
                                <div class="editable-buttons">
                                    <div class="top-buttons">
                                        <div [class]="'editable-button waves-effect ' + (mode==='dark' ? 'waves-light' : '')" (click)="insertProject(i)">
                                            <moo-icon [class]="mode" [icon]="'add'"></moo-icon>
                                        </div>
                                        <div *ngIf="appService.projects.length > 1" [class]="'editable-button waves-effect ' + (mode==='dark' ? 'waves-light' : '')" (click)="removeProject(i)">
                                            <moo-icon [class]="mode" [icon]="'remove'"></moo-icon>
                                        </div>
                                    </div>
                                    <div class="test">
                                        <div [class]="'editable-button waves-effect ' + (mode==='dark' ? 'waves-light' : '')" (click)="toggleAdvancedProject(i)">
                                            <moo-icon [class]="mode" [icon]="'remove'"></moo-icon>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="activeManagementOption==='footer'">
            <div dragula="FOOTERS" [(dragulaModel)]="appService.footerUrls" class="editables">
                <div *ngFor="let footerUrl of appService.footerUrls; let i = index">
                    <div class="row">
                        <div class="col s12">
                            <div class="editable-row">
                                <div [class]="'index ' + mode">
                                    {{ i + 1 }}.
                                </div>
                                <div class="inputs">
                                    <moo-input [mode]="mode" [text]="footerUrl.text" [label]="'Footer item'" [textIsInvalidFuncs]="[isEmptyFooter]" (valueChanged)="footerUrl.text = $event"></moo-input>
                                    <moo-input [mode]="mode" [text]="footerUrl.href" [label]="'Footer url'" [textIsInvalidFuncs]="[isInvalidUrl]" (valueChanged)="footerUrl.href = $event"></moo-input>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="activeManagementOption==='tips'">
            <div [class]="'tips-container ' + mode">
                <p class="tips-margin-bottom extra" [style.font-size]="'16px'">Setting project names and footer info</p>
                    
                <p class="tips-margin-bottom extra">What you type is what you'll see with three exceptions: <span class="code-text">\</span> <span class="code-text">\n</span></p>
                <p class="tips-margin-bottom"><span class="code-text">\n</span>Mobile → newline.&emsp;Tablet / desktop → nothing</p>
                <p class="tips-margin-bottom extra"><span class="code-text">\s</span>Mobile → newline.&emsp;Tablet / desktop → space</p>

                <p class="tips-margin-bottom">You can change the size of your browser to be the size of mobile / tablet / desktop to see how your site will appear before saving your changes.</p>
                <p class="tips-margin-bottom extra" [style.margin-bottom]="'24pt'">Below is an interactable example. Change the text below to experiment.</p>

                <moo-input [mode]="mode" [text]="exampleText" [label]="'Example project name'" [textIsInvalidFuncs]="[isEmptyProject]" (valueChanged)="exampleText = $event"></moo-input>
                
                <div>
                    <p class="tips-margin-bottom">Mobile example</p>
                    <div [class]="'example-container ' + mode">
                        <div class="mobile-example-container">
                            <a #mobileExample [href]="'#'" [class]="'themed-text mobile-text'" (click)="mobileExample.blur(); getActive(mobileExample)" (mouseleave)="getNotActive(mobileExample)">
                                <moo-mobile-spaced [chars]="exampleText"></moo-mobile-spaced>
                            </a>
                        </div>
                    </div>
                    
                </div>
                
                <div>
                    <p class="tips-margin-bottom">Tablet / desktop example</p>
                    <div [class]="'example-container ' + mode" [style.margin-bottom]="'48px'">
                        <div class="desktop-example-container">
                            <!-- "" -->
                            <a #desktopExample [href]="'#'" (click)="desktopExample.blur(); getActive(desktopExample)" (mouseleave)="getNotActive(desktopExample)" [class]="'themed-text'">
                                <moo-spaced [chars]="exampleText"></moo-spaced>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>

<ng-container *ngIf="!loading && !showManagement">
    <div class="fixed-full">
        <div class="fixed-full-container">
                <div *ngIf="showPoem" class="poem-container" [style.z-index]="mode === 'dark' ? 0 : 1">
                        <div>
                            <img [class]="'poem-image ' + mode" src="./assets/poem_new.png">
                        </div>
                    </div>
            
                    <div #centerButton (click)="centerImageFunc($event)" (mouseenter)="doRipple($event)" [class]="'center-image' + (mode !== 'dark' ? ' waves-effect waves-light' : '') + ((w <= 812 && h < 450) || (w < h && w < 750) ? ' vertical' : '') + (slideshow ? ' slideshow' : '') + (slideshowAnimate ? ' slideshow-animate' : '')">
                        <img class="dark-image" [class]="'dark-image-safari-fix dark-image' + ' ' + mode" src='./assets/dark_logo.jpeg'>
                        <img class="light-image" [class]="'light-image' + ' ' + mode" src='./assets/light_logo.jpeg'>
                    </div>
            
                    <div #container id="container" [class]="mode">
                    <div *ngIf="!showSlideshow" class="fixed-full" [style.visibility]="(w <= 812 && h < 450) || (w < h && w < 750) ? '' : 'hidden'">
                        <div class="wrapper-with-margins">
                        <div [class]="'center-horizontal justify-vert title-vert title-vert-1 burin-sans' + (test ? ' test' : '')">
                            <div *ngFor="let char of 'SAMANTHAMINK'.split('')">{{ char }}</div>
                            <div [class]="'vertical-image-placeholder' + (w < h && w < 750 ? ' smaller' : '')"></div>
                        </div>
            
                        <div [class]="'center-horizontal justify-vert title-vert title-vert-2 burin-sans' + (test ? ' test' : '')">
                            <div [class]="'vertical-image-placeholder' + (w < h && w < 750 ? ' smaller' : '')"></div>
                            <div *ngFor="let char of 'BODYOFWORK'.split('')">{{ char }}</div>
                        </div>
            
                        <div [class]="'mobile-text-container' + (showOthers ? ' active' : '') + (w > 420 && h > 420 ? ' with-extra-margins' : '')">
                            <ng-container *ngFor="let project of appService.projects; let j = index">
                                <a *ngIf="project.useSlideshow" (click)="a.blur(); getActive(a);" #a [routerLink]="'/project/' + j" [style.margin-bottom]="'14pt'" [class]="'themed-text mobile-text' + (!showOthers ? ' not-active' : '')" (mouseleave)="getNotActive(a)">
                                    <moo-mobile-spaced [chars]="project.text"></moo-mobile-spaced>
                                </a>
                                <a *ngIf="!project.useSlideshow" #a [href]="project.href || '#'" [style.margin-bottom]="'14pt'" [class]="'themed-text mobile-text' + (!showOthers ? ' not-active' : '')" [target]="!project.href || project.href.indexOf('mailto:') !== -1 || project.href.indexOf('tel:') !== -1 ? '' : '_blank'" (click)="a.blur(); getActive(a)" (mouseleave)="getNotActive(a)">
                                    <moo-mobile-spaced [chars]="project.text"></moo-mobile-spaced>
                                </a>
                                <!-- <a #a [href]="project.href || '#'" [style.margin-bottom]="'14pt'" [class]="'themed-text mobile-text' + (!showOthers ? ' not-active' : '')" [target]="!project.href || project.href.indexOf('mailto:') !== -1 || project.href.indexOf('tel:') !== -1 ? '' : '_blank'" (click)="a.blur(); getActive(a)" (mouseleave)="getNotActive(a)">
                                    <moo-mobile-spaced [chars]="project.text"></moo-mobile-spaced>
                                </a> -->
                            </ng-container>
                        </div>
            
                        <div [class]="'mobile-text-container mobile-text-container-footer' + (showOthers ? ' active' : '') + (w > 420 && h > 420 ? ' with-extra-margins' : '')">
                            <div>
                            <a *ngFor="let footerUrl of appService.footerUrls; let i = index" #a [href]="footerUrl.href || '#'" [style.margin-bottom]="i < appService.footerUrls.length - 1 ? '14pt' : '0'" [target]="!footerUrl.href || footerUrl.href.indexOf('mailto:') !== -1 || footerUrl.href.indexOf('tel:') !== -1 ? '' : '_blank'" [class]="'themed-text mobile-text' + (!showOthers ? ' not-active' : '')" (click)="a.blur(); getActive(a)" (mouseleave)="getNotActive(a)">
                                <moo-mobile-spaced [chars]="footerUrl.text"></moo-mobile-spaced>
                            </a>
                            </div>
                        </div>
                        </div>
                    </div>
            
                    <div class="fixed-full" [style.visibility]="(w > 812 || h >= 450) && (w >= h  || w >= 750) ? '' : 'hidden'">
                        <div (click)="titleFunc($event)" [class]="'center-vert title-container' + (slideshow ? ' slideshow' : '') + (slideshowAnimate ? ' slideshow-animate' : '')">
            
                        <div [class]="'center-vert title title-1 burin-sans' + (test ? ' test' : '')">
                            <div>
                            <span *ngFor="let char of 'SAMANTHAMINK'.split('')">{{ char }}</span>
                            <span class="image-placeholder"></span>
                            </div>
                        </div>
            
                        <div [class]="'center-vert title title-2 burin-sans' + (test ? ' test' : '')">
                            <div>
                            <span class="image-placeholder"></span>
                            <span *ngFor="let char of 'BODYOFWORK'.split('')">{{ char }}</span>
                            </div>
                        </div>
            
                        <div *ngIf="!showSlideshow" #linksContainer [class]="'links-container' + (showOthers ? ' active' : '')">
                            <div *ngFor="let projectRow of projectRows; let i = index" [style.display]="'flex'" [style.justify-content]="i === 0 ? 'space-between' : 'center'" [style.margin-bottom]="'14pt'">
                            <ng-container *ngFor="let project of projectRow; let j = index">
                                <!-- "" -->
                                <a *ngIf="project.useSlideshow" #a [href]="'#'" (click)="a.blur(); getActive(a); toggleSlideshow($event, project)" (mouseleave)="getNotActive(a)" [class]="'themed-text ' + (!showOthers ? 'not-active' : '')">
                                    <moo-spaced [chars]="project.text" [style.margin-right]="j !== projectRow.length - 1 ? (project.margin + 'px') : 0"></moo-spaced>
                                </a>
                                <a *ngIf="!project.useSlideshow" #a [href]="project.href || '#'" [target]="!project.href || project.href.indexOf('mailto:') !== -1 || project.href.indexOf('tel:') !== -1 ? '' : '_blank'" (click)="a.blur(); getActive(a)" (mouseleave)="getNotActive(a)" [class]="'themed-text ' + (!showOthers ? 'not-active' : '')">
                                    <moo-spaced [chars]="project.text" [style.margin-right]="j !== projectRow.length - 1 ? (project.margin + 'px') : 0"></moo-spaced>
                                </a>
                            </ng-container>
                            </div>
            
                            <div [style.visibility]="'hidden'" [style.position]="'absolute'">
                            <moo-text-placement-test #placementTester [projects]="appService.projects"></moo-text-placement-test>
                            </div>
                        </div>
                        </div>
            
                        <div [class]="'footer-container' + (showOthers ? ' active' : '')">
                        <div class="footer">
                            <div *ngFor="let footerUrl of appService.footerUrls" class="footer-element-container">
                            <div class="footer-element">
                                <a #a [class]="'themed-text top-urls-justified' + (!showOthers ? ' not-active' : '')" [style.width]="'100%'" [href]="footerUrl.href || '#'" [target]="footerUrl.href.indexOf('mailto:') !== -1 || footerUrl.href.indexOf('tel:') !== -1 ? '' : '_blank'" (click)="a.blur(); getActive(a)" (mouseleave)="getNotActive(a)">
                                <ng-container *ngFor="let char of footerUrl.text.split(''); let i = index">
                                    <!-- "" -->
                                    <ng-container *ngIf="char !== '\\'">
                                    <span *ngIf="i > 0 && footerUrl.text.split('')[i - 1] === '\\' && char === 's'">
                                        {{ ' ' }}
                                    </span>
                                    <span *ngIf="!i || footerUrl.text.split('')[i - 1] !== '\\'">
                                        {{ char }}
                                    </span>
                                    </ng-container>
                                </ng-container>
                                </a>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
            
                </div>
        </div>
        
</ng-container>
    